services:
  db:
    image: docker.io/library/postgres:16
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
  portfolio:
    image: portfolio:latest
    restart: always
    environment:
      DATABASE_URL: postgresql://kelifue:1212@db:5432/posts
    depends_on:
      - db
    ports:
      - 4173:4173
volumes:
  pgdata:
